body{
    margin:0 auto;
    background-color: #f1f1f1;
  }
  
  
  

  
  .register{
    text-align: center;
    margin: 0 auto;
    padding: 11px;
    height: 548px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    /* background-color: rgb(87, 176, 211); */
}